.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  font-size: 16px;
  padding: 0.5rem;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f0f0f0;
}


.user-profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.user-profile {
  width: 150px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.user-profile img {
  width: 100%;
  height: auto;
  border-radius: 05%;
}

/* a {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
} */
